boto3==1.4.8
botocore==1.8.6
coloredlogs==7.3.1
docutils==0.14
executor==18.0
fasteners==0.14.1
futures==3.2.0
humanfriendly==4.4.1
jmespath==0.9.3
monotonic==1.4
naturalsort==1.5.1
property-manager==2.2
psycopg2-binary==2.7.5
python-dateutil==2.6.1
rotate-backups==4.4
s3transfer==0.1.12
simpleeval==0.9.1
six==1.11.0
verboselogs==1.7
